.header{
    height: 120px;
}

body{
    background-image: url("../paginaF1/immagini/bg3.jpg");
}

.titolo{
    line-height: 120px;
    font-size: 50px;
}

.titolo-pagina{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 45px;
}

/*box informazioni utente */
.box-info{
    width: 60%;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 2px 4px 21px 1px rgba(0,0,0,0.33);
    background-color: #fff;
}

/* box foto profilo */
.profile-pic{
    height: 100%;
    width: 50%;
    float:left;
    background-image:url("../FotoProgetto/sfondo.jpg");
    background-size: cover;
}

.img-box{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sezione scelta avatar */
.select-box{
    width: 100%;
    height: 50%;
}

.select-button{
    margin: auto;
    width: 35%;
    height: 35px;
    color: #fff;
    font-family: Calibri;
    background-color: #ff2800;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    border-radius: 120px;
    -webkit-box-shadow: 7px 7px 6px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 6px -3px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 6px -3px rgba(0,0,0,0.75);
    cursor:pointer;
}

.select-content{
    margin: auto;
    background-color: whitesmoke;
    margin-top: 10px;
    width: 60%;
    height: 130px;
    display: none;
    background-color: rgba(46, 45, 45, 0.788);
    overflow-y: auto;
    border-radius: 8px;
}

/* scrollbar per select-content */
.select-content::-webkit-scrollbar {
    width: 6px;
}

/* Handle */
.select-content::-webkit-scrollbar-thumb {
    background: rgb(180, 175, 175); 
    border-radius: 10px;
}

/* Handle on hover */
.select-content::-webkit-scrollbar-thumb:hover {
    background: #ff2800; 
}

.avatar{
    font-family: Calibri;
    color:#fff;
    width: 100%;
    background:none;
    height: 35px;
    vertical-align: middle;
    line-height: 35px;
}

.avatar img{
    float:left;
    margin-left: 3px;
    margin-top: 3px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.avatar:hover{
    color: #111;
    background-color: #f1f1f1;
}


/* sezione info utente */
.user-info{
    float: right;
    height: 100%;
    width: 50%;
}

.info{
    margin: 11% auto;
    width: 80%;
    height: 80%;
}

.user-field{
    height: 25%;
    width: 100%;
    border-bottom: 1px solid grey;
}

#button-div{
    border:none;
    background: none;
}

.logout-button{
    font-family: Calibri;
    font-size: medium;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    height: 40px;
    width: 40%;
    border-radius: 120px;
    outline: none;
    cursor:pointer;
}

.title-field{
    font-family: Calibri;
    font-size: 16px;
    overflow: auto;
    width: 100%;
    height: 50%;
    font-weight: bold;
    padding-top: 15px;
}

.info-db{
    padding-left: 5px;
    padding-top: 15px;
    width: 100%;
    height: 50%;
    font-family: Calibri;
}


#immagine{
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.card{
    width: 40%;
    margin: 0 auto;
    margin-top: 60px;
}

.card-link{
    width: 100%;
    text-align: left;
}

.card-body p{
    text-align: left;
    width: 30%;
    display: inline-block;
}

.card-body:hover{
    background-color: #4e5257;
}

.card-body:active{
    background-color: #303133;
}

.footer{
    margin-top: 50px;
}


.collapse{
    height: 300px;
    overflow-y: scroll;
}

/* arrow rieppilogo ordini */
.arrow{
    float:right;
}



