
.header{
    height: 120px;
    font-family: 'FerrariFont';
}

.titolo{
    line-height: 120px;
    font-size: 50px;
}

.nome-macchina{
    width: 100%;
    height: 80px;
    text-align: center;
    font-family: 'formula1';
}

.titolo-pagina{
    color:red;
}

.contenitore{
    font-family: 'formula1';
    width: 100%;
    height: 450px;
}

.tabella{
    width: 40%;
    height: 100%;
    float: left;  
}

.foto-macchina{
    width: 60%;
    height: 100%;   
    float: right;
}

.foto{
    width:80%;
    height:80%;
    margin: 50px auto;
}

.foto-slideshow{
    width:100%;
    height:400px;
    box-shadow: 1px -4px 18px 13px #000000;
    border-radius: 7px;
}

.carousel-inner{
    box-shadow: 1px -4px 18px 13px #000000;
    border-radius: 10px;
}

.carousel-indicators .active{
    background-color:blue;
}
  

.datacar{
    width:80%;
    height:80%;
    margin: 50px auto;
}

.titolo-tabella{
    text-align:center;
    margin-bottom:50px;
    color:red;
}

.campi{
    float:left;
    width:40%;
}

.dati{
    font-size:17px;
    margin:11px;
    height:25px;
    text-align:center;
    color:white;

}

.database{
    width:40%;
    float:right;
}

.data{
    font-size:17px;
    margin:11px;
    text-align:center;
    height:25px;
    font-family: Calibri;
    color:powderblue;
}

.footer{
    margin-top:70px;
}

@font-face {
	font-family: 'formula1';
	src: url('../paginaF1/f1-fonts/Formula1-Display-Bold.eot');
	src: url('../paginaF1/f1-fonts/Formula1-Display-Bold.eot?#iefix') format('embedded-opentype'),
		url('../paginaF1/f1-fonts/Formula1-Display-Bold.woff') format('woff'),
		url('../paginaF1/f1-fonts/Formula1-Display-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}