body{
  font-family: calibri;
}

.navbar{
  padding: 0;
}

#iconaProfilo{
  margin-top: 5px;
}

.header{
    height: 120px;
  }
  
.titolo{
  line-height: 120px;
  font-size: 50px;
}

.team-area{
padding: 60px 0;
}

.mail{
  font-size:20px;
}


.section-heading {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 5px;
}

/* Stile relativo alle card */
.team-area .card {
border: none;
background: #ffffff;
margin: auto;
}

.img-area{
width: 150px;
height: 150px;
display: inline-block;
overflow: hidden;
border-radius: 50%;
}

/* Rotazione delle cards */
.team-single:hover .side-two {
transform: rotateY(0deg);
border-radius: .25rem;
}
.team-single:hover .side-one {
transform: rotateY(180deg);
}

.content-area {
transform: perspective(1000px);
transition: 1s;
transform-style: preserve-3d;
position: relative;
}

/* Fronte delle cards */
.side-one {
position: relative;
transform: rotateY(0deg);
z-index: 2;
margin-bottom: 30px;
}

/* Retro delle cards */
.side-two {
position: absolute;
top: 0;
left: 0;
background: white;
transform: rotateY(-180deg);
}

.side-one,
.side-two {
backface-visibility: hidden;
transition: 1s;
transform-style: preserve-3d;
}

.side-one .card,
.side-two .card {
min-height: 312px;
}

.side-two .card a {
font-size: 18px;
color: brown !important;
}

h4 {
color:brown !important;
letter-spacing: 5px;
font-size: 25px;
}

/* Stile dell'immagine nelle cards */
.side-one .card .card-body img {
width: 120px;
height: 120px;
border-radius: 50%;
}
