.header{
    height: 120px;
    font-family: 'FerrariFont';
}

.titolo{
    line-height: 120px;
    font-size: 50px;
}

body{
    background-image: url('../paginaF1/immagini/bg3.jpg');
}

.content{
    width:100%;
    min-height:500px;
}

.finestra{
    margin: 30px auto;
    width: 55%;
}

#search{
    border-radius: 120px;
    height: 30px;
    padding: 5px;
    border: none;
    outline: none;
}


.barra{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.barra i{
    color: #111;
}

.search-button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

.search-button:active{
    transform:translate(3px,3px);
}

.search-button:hover{
    background-color: #383535;
}

.seeAll{
    width: 70px;
    border-radius: 60px;
    cursor: pointer;
}


.search-result{
    font-family: 'Calibri';
    margin-top: 10px;
    text-align:center;
    width: 100%;
}

.intestazione{
    color: whitesmoke;
    margin:20px auto;
    width: 60%;
    height: 40px;
    text-align: center;
    background-color: rgba(14, 12, 12, 0.781);
    font-weight: bold;
    display: none;
}

.intestazione div{
    display: inline-block;
    margin:0 auto;
    width: 30%;
    height: 100%;
    line-height: 40px;
}



.riga-pilota{
    margin:20px auto;
    width: 60%;
    height: 70px;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.riga-pilota:hover{
    color:whitesmoke;
    background-color: #383535;
}

.riga-pilota:active{
    transform:translate(5px,5px);
}

.riga-pilota div{
    display: inline-block;
    margin:0 auto;
    width: 30%;
    height: 100%;
    line-height: 70px;
}

