*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}


.header{
  height: 400px;
  background-color: #FF2800;
  -webkit-box-shadow: 1px -4px 18px 13px #000000;
  -moz-box-shadow: 1px -4px 18px 13px #000000;
  -o-box-shadow: 1px -4px 18px 13px #000000;
  box-shadow: 1px -4px 18px 13px #000000;
  font-family:"FerrariFont";
}

.titolo{
  font-size: 70px;
  color: white;
  text-shadow: 0px 13px 10px #0A0A0A;
  text-align: center;
  vertical-align: middle;
  line-height: 400px;
}

body{
  background-image: url('../paginaF1/immagini/bg3.jpg');
  background-size: cover;
  background-repeat: none;
}


.footer {
  height: 260px;
  width: 100%;
  background-color: #FF2800;
  text-align: center;
  display: table;
}


.footerContent {
  vertical-align: middle;
  line-height:260px;
}

.footerContent li{
  cursor: pointer;
  display: inline;
}

.footerContent li i{
  font-size: 40px;
  padding: 20px;
  color: rgb(14, 11, 11);
}

.footerContent li:hover i{
  color: white;
}

/*Contenitore grid */
.parent {
  margin: 130px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-rows: 1px 0px repeat(2, 400px) 400px;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  }

.parent div{
  float: left;
  margin:0;
  padding:0;
  position: relative;
  overflow: hidden;
}

/* span di overlay */
.parent div span{
  text-align:center;
  float:left;
  margin: 0;
  padding: 40px;
  width: 100%;
  font-size: 20px;
  font-family: Calibri;
  color: #dedede;
  background: rgba(0,0,0,0.7);
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  height: 100%;
}

.parent div span strong{
  font-size: 25px;
}


.div1 { 
  grid-area: 1 / 1 / 4 / 3;
  background-image: url("../FotoProgetto/sid-ramirez-tjLa5hbq6rw-unsplash.jpg");
  background-size: cover;
  border-radius: 10px;
}

.div2 {
    grid-area: 1 / 3 / 4 / 6; 
    background-image: url("../FotoProgetto/schumacher_home.jfif");
    background-size: cover;
    border-radius: 10px;
}
.div3 { 
  grid-area: 4 / 1 / 5 / 6; 
  background-image: url("../FotoProgetto/2002_Formula1_Ferrari_F2002_Race_Car_Racing_4000x3000_4000x3000.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.div4 {
    grid-area: 5 / 1 / 6 / 3; 
    background-image: url("../FotoProgetto/villenueve_home.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
.div5 { 
  grid-area: 5 / 3 / 6 / 6; 
  background-image: url("../FotoProgetto/lauda.jpg");
    background-size: cover;
    border-radius: 10px;
} 

@font-face {
  font-family:"FerrariFont";
  src: url("../FerroRosso.ttf");
}

/* sezione menu a tendina */
/* Dropdown div */
.dropbtn {
  color: #818181;
  background: none;
  border: none;
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background: none;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: 20px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #f1f1f1;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}



/* Sezione sideBar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: "FerrariFont";
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.navbar{
  font-family: "FerrariFont";
  position: absolute;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  background: none;
  color: white;
}


.openbtn {
  float: left;
  padding-top: 5px;
  padding-left: 10px;
}

.openbtn:hover {
  color: rgb(14, 11, 11);
}


/* Link login */
.loginbtn{
  float: right;
  padding-top: 10px;
  padding-right: 15px;
}

.loginbtn a{
  text-decoration: none;
  color: white;
}
.loginbtn a:hover {
  color: rgb(14, 11, 11);
}

#profile{
  float: right;
}

#iconaProfilo{
  float:left;
  height: 30px;
  width: 30px;
}

#username{
  padding-top: 5px;
  padding-left: 5px;
  float:left;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}