body{
	background-image: url('../img/sfondo.jpg');
	background-size: 100%;
	margin:0;
	padding:0;
	text-decoration: none;
}
*{
	box-sizing: border-box;
	font-family: Calibri;
}

h1{
	text-align: center;
	color: #ffffff;
	margin:30px 0px -15px;
	font-family: "FontFerrari";
}

#sparisci{
	border:3px solid green;
	width:100%;
	height:320px;
	position:relative;
	margin-top:60px;
}

.titolo-class{
	width:100%;
	height:30%;
	font-family:Calibri;
	border:3px solid red;
	text-align:center;

}

.punti{
	color:red;
	font-size:25px;
}

.punteggi{
	width:100%;
	height:70%;
	font-family:Calibri;
	border:3px solid yellow;
	text-align:center;
	color:white;
	overflow-y: scroll;
}

.classifica{
	font-size:20px;
}

.quiz_wrapper{
	height: 560px;
	width: 750px;
	background-color: rgba(0, 0, 0, 0.8);
	margin:50px auto;
	border-radius: 8px;
	padding: 30px;
	margin-top: 40px;
	-webkit-box-shadow: 5px 5px 10px 0px #000000;
	-moz-box-shadow: 5px 5px 10px 0px #000000;
	-o-box-shadow: 5px 5px 10px 0px #000000;
	box-shadow: 5px 5px 10px 0px #000000;
}

.quiz_wrapper .question{
	padding: 15px;
	background-color:  rgba(0, 0, 0, 0.8);
	border-radius: 8px;
	color:#ffffff;
	font-size:17px;
	float: left;
	width: 100%;
	-webkit-box-shadow: 5px 5px 10px 0px #000000;
	-moz-box-shadow: 5px 5px 10px 0px #000000;
	-o-box-shadow: 5px 5px 10px 0px #000000;
	box-shadow: 5px 5px 10px 0px #000000;
}
.quiz_wrapper .options{
	float: left;
	width: 100%;
}

.quiz_wrapper .options ul{
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.quiz_wrapper .options ul li{
	display: inline-block;
	background-color:white;
	width: 47%;
	padding: 15px;
	border-radius:8px;
	font-size: xx-large;
	margin-top: 25px;
	font-size: 17px;
	color:black;
	box-shadow: 0px 3px 0px black;
	cursor: pointer;
	outline: none;
	text-align: center;
}
.quiz_wrapper .options ul li:active{
	box-shadow: 0px 3px 0px transparent;	

}
.quiz_wrapper .options ul li.correct{
	background-color: #0fd40f;
	box-shadow: 0px 3px 0px #03a503;
}

.quiz_wrapper .options ul li.wrong{
	background-color: #e91e1e;
	box-shadow: 0px 3px 0px #cb0b0b;
}

.quiz_wrapper .score{
	float: left;
	width: 100%;
	padding:25px 0px;
}

.quiz_wrapper .score .next{
	width: 40%;
	float: left;
}
.quiz_wrapper .score .next button{
	padding: 15px 80px;
	color:white;
	background-color:#ff9800;
	border:none;
	border-radius:8px;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 0px 3px 0px #c97a06;
	outline: none;
}
.quiz_wrapper .score .next button:active{
box-shadow: 0px 3px 0px transparent;	
}

.quiz_wrapper .score .score-card{
	width: 30%;
	float: left;
}
.quiz_wrapper .score .score-card{
	font-size: 20px;
	color:white;
	line-height: 50px;
	text-transform: uppercase;
}
.quiz_wrapper .score .score-card span{
	background-color: #4caf50;
	padding: 5px 20px;
	border-radius: 8px;
	color:#ffffff;

}

.quiz_wrapper .score .home{
	width: 30%;
	float: right;
}
.quiz_wrapper .score .home{
	font-size: 30px;
	color:black;
	line-height: 25px;
	text-transform: uppercase;
}
.quiz_wrapper .score .home span{
	width: 90px;
	text-align: center;
	background-color: white;
	padding: 5px 20px;
	border-radius: 8px;
	color:#ffffff;
	float: right;
	-webkit-box-shadow: 5px 5px 10px 0px #000000;
	-moz-box-shadow: 5px 5px 10px 0px #000000;
	-o-box-shadow: 5px 5px 10px 0px #000000;
	box-shadow: 5px 5px 10px 0px #000000;
}



  .loginbtn{
	float: right;
	padding-top: 10px;
	padding-right: 15px;
  }
  
  .loginbtn a{
	text-decoration: none;
	color: white;
  }

  .loginbtn a:hover {
	color: whitesmoke;
  }

  #profile{
	float: right;
  }
  
  #iconaProfilo{
	height: 60px;
	width: 60px;
	padding-left: 10px;
  }
  
  #username{
	float:left;
	font-size: 16px;
	font-family: "FontFerrari";
	color: whitesmoke;
  }









