body{
	background-image: url('../../paginaF1/immagini/bg3.jpg');
	background-size: 100%;
	margin:0;
	padding:0;
	text-decoration: none;
}
*{
	box-sizing: border-box;
	font-family: sans-serif;
}

h1{
	text-align: center;
	color: #ffffff;
	margin:30px 0px -15px;
	font-family: "FontFerrari";
}

.quiz_wrapper{
	height: 400px;
	width: 750px;
	background-color: #ff2800;
	margin:50px auto;
	border-radius: 8px;
	padding: 30px;
	-webkit-box-shadow: 5px 5px 10px 0px #000000;
	-moz-box-shadow: 5px 5px 10px 0px #000000;
	-o-box-shadow: 5px 5px 10px 0px #000000;
	box-shadow: 5px 5px 10px 0px #000000;
}

.quiz_wrapper .question{
	padding: 15px;
	background-color:#ff2800;
	border-radius: 8px;
	color:#ffffff;
	font-size:20px;
	float: left;
	width: 100%;
	-webkit-box-shadow: 5px 5px 10px 0px #000000;
	-moz-box-shadow: 5px 5px 10px 0px #000000;
	-o-box-shadow: 5px 5px 10px 0px #000000;
	box-shadow: 5px 5px 10px 0px #000000;
}
.quiz_wrapper .options{
	float: left;
	width: 100%;
}

.quiz_wrapper .options ul{
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.quiz_wrapper .options ul li{
	display: inline-block;
	background-color:white;
	width: 47%;
	padding: 15px;
	border-radius:8px;
	font-size: xx-large;
	margin-top: 25px;
	font-size: 20px;
	color:black;
	box-shadow: 0px 3px 0px black;
	cursor: pointer;
	outline: none;
	text-align: center;
}
.quiz_wrapper .options ul li:active{
	box-shadow: 0px 3px 0px transparent;	

}
.quiz_wrapper .options ul li.correct{
	background-color: #0fd40f;
	box-shadow: 0px 3px 0px #03a503;
}

.quiz_wrapper .options ul li.wrong{
	background-color: #e91e1e;
	box-shadow: 0px 3px 0px #cb0b0b;
}

.quiz_wrapper .score{
	float: left;
	width: 100%;
	padding:25px 0px;
}

.quiz_wrapper .score .next{
	width: 40%;
	float: left;
}
.quiz_wrapper .score .next button{
	padding: 15px 80px;
	color:white;
	background-color:#ff9800;
	border:none;
	border-radius:8px;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 0px 3px 0px #c97a06;
	outline: none;
}
.quiz_wrapper .score .next button:active{
box-shadow: 0px 3px 0px transparent;	
}

.quiz_wrapper .score .score-card{
	width: 30%;
	float: left;
}
.quiz_wrapper .score .score-card{
	font-size: 20px;
	color:white;
	line-height: 50px;
	text-transform: uppercase;
}
.quiz_wrapper .score .score-card span{
	background-color: #4caf50;
	padding: 5px 20px;
	border-radius: 8px;
	color:#ffffff;

}

.quiz_wrapper .score .home{
	width: 30%;
	float: right;
}
.quiz_wrapper .score .home{
	font-size: 30px;
	color:black;
	line-height: 25px;
	text-transform: uppercase;
}
.quiz_wrapper .score .home span{
	width: 90px;
	text-align: center;
	background-color: white;
	padding: 5px 20px;
	border-radius: 8px;
	color:#ffffff;
	float: right;
	-webkit-box-shadow: 5px 5px 10px 0px #000000;
	-moz-box-shadow: 5px 5px 10px 0px #000000;
	-o-box-shadow: 5px 5px 10px 0px #000000;
	box-shadow: 5px 5px 10px 0px #000000;
}


.header{
	height: 125px;
	background-color: #FF2800;
	-webkit-box-shadow: 1px -4px 18px 13px #000000;
	-moz-box-shadow: 1px -4px 18px 13px #000000;
	-o-box-shadow: 1px -4px 18px 13px #000000;
	box-shadow: 1px -4px 18px 13px #000000;
  }
  
  .titolo{
	font-size: 50px;
	color: white;
	text-shadow: 0px 13px 10px #0A0A0A;
	text-align: center;
	vertical-align: middle;
	line-height: 125px;
  }

  .footer {
	height: 200px;
	width: 100%;
	background-color: #FF2800;
	text-align: center;
	display: table;
	margin-top: 100px;
  }
  
  
  .footerContent {
	vertical-align: middle;
	line-height:200px;
  }
  
  .footerContent li{
	cursor: pointer;
	display: inline;
  }
  
  .footerContent li i{
	font-size: 40px;
	padding: 20px;
	color: rgb(14, 11, 11);
  }
  
  .footerContent li:hover i{
	color: white;
  }









