body{
	background-image: url('../img/sfondo.jpg');
	background-size: 100%;
	margin:0;
	padding:0;
	text-decoration: none;
}

*{
	box-sizing: border-box;
	font-family: Calibri;
}


#sparisci{
	width:100%;
	height:300px;
	position:relative;
	margin-top:80px;
}

.titolo-class{
	width:100%;
	height:25%;
	font-family:Calibri;
	text-align:center;

}

.punti{
	color:white;
	font-size:25px;
	margin-left:35px;
}

.punteggi{
	width:100%;
	height:200px;
	font-family:Calibri;
	text-align:center;
	color:white;
	overflow-y: scroll;
}


.punteggi::-webkit-scrollbar {
    width: 6px;
}


.punteggi::-webkit-scrollbar-thumb {
    background: rgb(180, 175, 175); 
    border-radius: 10px;
}


.punteggi::-webkit-scrollbar-thumb:hover {
    background:orange; 
}


.classifica{
	font-size:20px;
	color:white;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:350px;
	height:200px;
}

.title{
	color:orange;
	display:inline-block;
	margin-right:80px;
}

.quiz_wrapper{
	width: 750px;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
	margin:50px auto;
	border-radius: 8px;
	padding: 25px;
	margin-top: 40px;
	box-shadow: 5px 5px 10px 0px #000000;
}

.quiz_wrapper .question{
	padding: 15px;
	background-color:  rgba(0, 0, 0, 0.8);
	border-radius: 8px;
	color:#ffffff;
	font-size:17px;
	float: left;
	width: 100%;
	box-shadow: 5px 5px 10px 0px #000000;
}

.quiz_wrapper .options{
	float: left;
	width: 100%;
}

.quiz_wrapper .options ul{
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.quiz_wrapper .options ul li{
	display: inline-block;
	background-color:white;
	width: 47%;
	padding: 15px;
	border-radius:8px;
	font-size: xx-large;
	margin-top: 25px;
	font-size: 17px;
	color:black;
	box-shadow: 0px 3px 0px black;
	cursor: pointer;
	outline: none;
	text-align: center;
}

.quiz_wrapper .options ul li:active{
	box-shadow: 0px 3px 0px transparent;	

}

.quiz_wrapper .options ul li.correct{
	background-color: #0fd40f;
	box-shadow: 0px 3px 0px #03a503;
}

.quiz_wrapper .options ul li.wrong{
	background-color: #e91e1e;
	box-shadow: 0px 3px 0px #cb0b0b;
}

.quiz_wrapper .score{
	float: left;
	width: 100%;
	padding: 5px 0px;
}

.quiz_wrapper .score .next{
	width: 40%;
	float: left;
}

#button{
	cursor:pointer;
	color:white;
	font-size:40px;
	margin-top:20px;
	margin-left:10px;
}

#button:active{
	transform:translate(3px,3px);	
}

#button:hover{
	color:rgb(182, 182, 182);
}

.quiz_wrapper .score .score-card{
	width: 30%;
	float: left;
	margin-top: 25px;
}

.quiz_wrapper .score .score-card{
	font-size: 20px;
	color:white;
	line-height: 50px;
	text-transform: uppercase;
}

.quiz_wrapper .score .score-card span{
	background-color: #4caf50;
	padding: 5px 20px;
	border-radius: 8px;
	color:#ffffff;
}

.quiz_wrapper .score .home{
	width: 30%;
	float: right;
}

.quiz_wrapper .score .home{
	font-size: 30px;
	color:black;
	line-height: 25px;
	text-transform: uppercase;
}

.home{

	text-align:center;
}

#iconaprofilo{
	width:60px;
	height:60px;
	margin:0 auto;
	margin-top:20px;
	
	
}

.prof{
	font-size:18px;
	color:white;
}













