*{
    margin:0;
    outline: none;
}

.header{
    height: 120px;
}

.titolo{
    line-height: 120px;
    font-size: 50px;
}

.titolo-pagina{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 55px;
    font-family:calibri; 
    color:whitesmoke; 
    margin-bottom:30px;
  }

body{
    background-repeat: repeat;
}

/* SEZIONE CARRELLO */
.shopping-cart{
    font-family: calibri;
    float: right;
    height:1162px;
    width: 40%;
}

.carrello{
    position: sticky;
    top: 0;
    width: 80%;
    background:none;
    margin-left: 25px;
}

.navbar{
    padding: 0;
}

#iconaProfilo{
    margin-top: 5px;
}

/* Tabella carrello */
table, .table-responsive{
    border-radius: .25rem;
    vertical-align: middle;
}


.compra:hover{
    background-color: #28a745;
    border-color: #28a745;
}



/* SEZIONE PRODOTTI IN VENDITA */
.products{
    float: left;
    width: 57%;
    text-align: center;
    font-family: calibri;
}

.container-prodotti{
    float: right;
    width: fit-content;
}

.card{
    width: 200px;
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
}
.card-img-top{
    height: 220px;
}

.card-title{
    cursor:pointer;
}

.card-title:hover{
    color: rgb(93, 93, 95)
}

.addCart{
    height: 40px;
    width: 80%;
}


.addCart:active{
    transform: translate(3px,3px);
}

